$bg-color: #424242;
$output-color: rgb(29, 27, 27);
$muted-color: mix(#fff, $bg-color, 70%);
$text-color: #eeeeee;
$link-visited-color: #005078;
$link-color: #00b081;
$link-hover-color: #008e7e;
$width: 320px;

h3,
h4,
h1 {
  color: $text-color;
  text-align: center;
}

a {
  text-decoration: none;
  color: $link-color;
}
a:visited  {
  color: $link-visited-color;
}
a:hover  {
  color: $link-hover-color;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.title .material-symbols-outlined {
  font-size: 1.5em;
}
form {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  text-align: center;
}
.chain-action {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.service-checkbox,
.destination-checkbox,
.other-option-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}
.other-option-checkbox span {
  display: inline-flex;
  gap: 0.4em;
}
.source-input,
.destination-input,
.natting-input {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.source-input span,
.destination-input span,
.natting-input span {
  display: inline-flex;
  flex-direction: row;
  gap: 1em;
}
.output-div {
  width: 80vw;
  margin: 1em auto;
  border-style: solid;
  border-radius: 12px;
  border-color: $output-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #505050;
  gap: 2em;
  // box-shadow: 10px 10px 5px 11px $output-color;
  background-color: $output-color;
  > p {
    color: $text-color;
    text-align: center;
  }
}

.vanishing{
  opacity: 1;
  transition: opacity 0.5s;
  animation: vanishing 5s forwards;
}

#clipboard-text{
  opacity: 0;
  color: #eeeeee;
  text-align: center;
}

@keyframes vanishing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

input:not([type="checkbox"]) {
  ::placeholder {
    color: $text-color;
  }
  background: none;
  color: $text-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: inline-flex;
  width: $width;
  border: 1px solid white ;
  border-radius: 8px;
  border-bottom: 1px solid $muted-color;
  transition: all 0.3s ease;
  &:focus {
    box-shadow: 0 0 8px 2px #ffffff81;
    outline: none;
  }
}
input::placeholder {
  // Chrome, Firefox, Opera, Safari 10.1+
  color: $text-color;
  // Firefox
  opacity: 0.8;
}
input:-moz-placeholder {
  // Internet Explorer 10-11
  color: $text-color;
}
input::-moz-placeholder {
  // Microsoft Edge
  color: $text-color;
}
select {
  color: $text-color;
  background-color: mix(#fff, $output-color, 8%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    color: $text-color;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
}
label {
  color: $text-color;
}

.copy{
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}


@media (max-width: 1200px) {
  body{
    height: 0vh !important;
  }
  .title {
    flex-direction: column;
  }
  .title .material-symbols-outlined {
    font-size: 1.2em;
  }
  .chain-action {
    flex-direction: column;
  }
  .service-checkbox,
  .destination-checkbox,
  .other-option-checkbox {
    flex-direction: column;
  }
  .source-input,
  .destination-input,
  .natting-input {
    flex-direction: column;
  }
  .source-input span,
  .destination-input span,
  .natting-input span {
    flex-direction: column;
  }
}
table {
  color: $text-color;
  justify-content: start;
  max-width: 150vh;
  border-radius: 6px;
  border: 2px solid;
  border-color: #fff;
  // border-collapse: collapse;
}